name: Run_id_01

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 18 * *' # Runs every month at 8:00

jobs:
  run-python-script:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'  # Specify the Python version

    - name: Install dependencies
      run: |
        pip install -r requirements.txt  --verbose file

    - name: Run script
      id: roda_job
      run: python scripts/job_01.py  --verbose 

    
    - name: Kaggle Authentication
      run: |
        mkdir -p ~/.kaggle
        echo "{\"username\":\"${{ secrets.KAGGLE_USERNAME }}\",\"key\":\"${{ secrets.KAGGLE_KEY }}\"}" > ~/.kaggle/kaggle.json
        chmod 600 ~/.kaggle/kaggle.json

    - name: Update Kaggle Dataset
      run: |
        dataset_path="./data/silver/id_01/"
        current_date=$(date +'%Y_%m_%d')
        update_message="Atualização do dataset ${current_date}" 
        update_command="kaggle datasets version -p ${dataset_path} -m '${update_message}'" 
        echo "Executando o comando: $update_command"
        $update_command
